* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.mobile-nav {
  display: none;
}

.header-nav,
.footer-nav {
  /* margin-top: 15%; */
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}

.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.logo {
  margin-right: 2rem;
  width: 10rem;
}

.nav-link {
  display: inline-block;
  width: 6rem;
}

a {
  text-decoration: none;
}

#products {
  background-color: lightcyan;
  width: 100%;
  padding: 0 3rem 2rem 3rem;
}

.products-category {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2rem;
}

.products-title {
  margin-top: 2rem;
  text-transform: capitalize;
}

.cards {
  width: 24%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.cards-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cards-title-outer {
  height: 2.5rem;
}
.cards-title {
  font-weight: bold;
  margin-top: 1rem;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-x: hidden;
}

.price-title {
  color: lightslategray;
}

.price {
  font-weight: bold;
  font-size: 1rem;
}

.cards-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 200px;
  object-fit: contain;
  padding: 0.5rem;
}

.cards-info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-description {
  /* max-height: 20px; */
  margin-top: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cart-img {
  width: 1.5rem;
}

.products-title {
  font-size: 2rem;
}

.cards-rating {
  width: 1.5rem;
  height: 1rem;
}

.addToCart {
  padding: 0.5rem;
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  border: none;
  background-image: linear-gradient(to right, #12d8fa, #1fa2ff);
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  cursor: pointer;
}

.addToCart:hover {
  opacity: 0.8;
}

.rating-box {
  display: flex;
  gap: 0.2rem;
}

.nav-link {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}

.nav-link:hover {
  background-color: lightgrey;
  color: white;
  border-radius: 5px;
}

.cards:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-link {
  width: 8rem;
  gap: 1rem;
}

#product-bg {
  background-color: lightcyan;
  display: none;
  transition: all 3s;
  min-height: 10rem;
}

#product {
  background-color: white;
  display: flex;
  margin: 2rem;
  padding: 2rem;
  gap: 2rem;
  border-radius: 1rem;
  transition: all 3s;
  /* background-color: lightcyan; */
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#product h2 {
  font-size: 2rem;
}

.product-category {
  color: lightgray;
  text-transform: capitalize;
}

.product-info .rating-box {
  padding-top: 1rem;
}

.product-info button {
  padding: 1rem;
  background-image: linear-gradient(to right, #12d8fa, #1fa2ff);
  border: 0;
  border-radius: 10px;
  color: white;
  align-self: center;
  width: 10rem;
}

.product-description {
  margin-top: 1rem;
  font-size: 1rem;
}

.product-price {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  /* color: aqua; */
}

.product-image {
  width: 35rem;
  height: 30rem;
}

.products-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

#sidebar {
  width: 15vw;
}

.limit {
  width: 100%;
}

#products-all {
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.category {
  /* margin-top: 1rem; */
  text-transform: capitalize;
  display: block;
}

.limit {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid gray;
}

#ascending,
#descending {
  display: none;
}

.sortbutton {
  padding: 10px;
  border: 0;
  background: linear-gradient(#12d8fa, #1fa2ff);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.sortbutton:hover {
  opacity: 0.8;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#sidebar p {
  font-weight: bold;
}

.side-title {
  margin-bottom: 0.5rem;
}

.radio-btn {
  display: none;
}

.radio-btn + label {
  text-transform: capitalize;
}

.radio-btn + label:hover {
  cursor: pointer;
}

.radio-btn:checked + label {
  font-weight: bold;
}

.lds-dual-ring {
  display: inline-block;
  margin: auto;
  height: 80px;
}

.lds-dual-ring:after {
  /* margin: auto; */
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.no-product {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.form-name {
  /* display: flex; */
  /* align-items: stretch; */
  /* justify-content: space-between; */
  gap: 1rem;
  margin-right: 0;
}

.form-name input {
  width: 100%;
}

.signup {
  background-color: lightcyan;
}

.signup-container {
  background-color: white;
  width: 30%;
  margin: 2rem auto;
  padding: 2rem;
}

.signup-container h1 {
  text-align: center;
  font-size: 2rem;
}

.signup-container p {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
}

.removeBottomMargin {
  margin-bottom: 0 !important;
}

.error-message {
  color: red;
  text-align: start !important;
  margin: 0 !important;
  display: block;
  padding: 0;
  font-size: 0.8rem !important;
}

.signup-form input {
  width: 100%;
  margin: 1rem 0;
  height: 2rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid;
  /* font-family: "sans serif"; */
}

.form-submit button {
  padding: 1rem;
  width: 50%;
  border-radius: 1rem;
  border: 0;
  margin: 1rem auto;
  display: block;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background-image: linear-gradient(to right, #12d8fa, #1fa2ff);
  color: white;
}

.form-submit button:hover {
  opacity: 0.8;
}
.agree-tos {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
}
.agree-tos input {
  padding: 0 !important;
  height: 0.8rem;
  width: 1rem;
}

a {
  color: black;
}
a:active {
  font-weight: bold;
}
#logout-button {
  padding: 0.5rem 2rem;
  display: block;
  margin: auto;
  width: 10rem;
  background-image: linear-gradient(to right, #12d8fa, #1fa2ff);
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#logout-button:hover {
  opacity: 0.8;
}

@media all and (max-width: 1640px) {
  .cards {
    width: 30%;
  }

  .products-category {
    margin-right: 0;
  }
}

@media all and (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .header {
    height: auto;
  }

  #products-all {
    /* display: flex; */
    flex-direction: column;
  }

  #sidebar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #categories {
    flex-direction: row;
    flex: 1;
    width: 100vw;
  }

  .signup-container {
    width: 60vw;
  }
}

@media all and (max-width: 850px) {
  .cards {
    width: 48%;
  }
  #product {
    flex-direction: column;
  }
  .product-image {
    width: 100%;
    height: 10rem;
  }
}

@media all and (max-width: 650px) {
  #categories {
    font-size: 3vw;
    width: 100%;
  }
  .cards {
    width: 100%;
  }

  .logo {
    width: 50vw;
    height: 5rem;
    margin-right: 0;
  }

  .header {
    width: 100%;
  }

  .header-nav {
    display: none;
  }

  .footer-nav {
    flex-direction: column;
    justify-content: center;
  }

  footer nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .header-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mobile-nav {
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    /* gap: 2rem; */
  }

  .mobile-nav img {
    width: 5vw;
    padding: 1rem;
    box-sizing: content-box;
  }

  .mobile-nav img:hover {
    background-color: lightgray;
    border-radius: 2rem;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .header {
    padding-top: 0;
  }

  .lds-dual-ring:after {
    width: 40px;
    height: 40px;
  }

  .site-container {
    font-size: 0.5rem;
  }
  .signup-container {
    width: 80vw;
  }
}

a:visited {
  color: black;
}
